
<h2>Users info</h2>
<div class="user">
	<%= attachment_image_tag user, :profile_image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" %>
	<label>name</label>
	<p><%= @user.name %></p>
	<label>introduction</label>
	<p><%= @user.introduction %></p>
	<% if @user.id == current_user.id %>
		<%=link_to "編集", edit_user_path(@user) %>
	<% end %>
</div>

<div class="create">
	<h2>New Book</h2>
	<%= form_for(book) do |f| %>

		<label>Title</label>
		<%= f.text_field :title %>

		<label>Opinion</label>
		<%= f.text_area :body %>

		<%= f.submit "Create Book" %>

	<% end %>
</div>