<div class ="container">

	<% if @book.errors.any? %>
		<p><%= @book.errors.count %>error prohibited this obj from being saved: </p>
		<ul>
			<% @book.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>

	<% if flash[:notice] %>
		<div class="flash"><%= flash[:notice] %></div>
	<% end %>


	<div class="row">
		<div class="col-xs-3">
			<h2>User info</h2>
			<%= attachment_image_tag @books.user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg" %>
			<table class="table">
				<tr></tr>
				<tr>
					<th><label>name</label></th>
					<th><p><%= @books.user.name %></p></th>
				</tr>
				<tr>
					<th><label>introduction</label></th>
					<th><p><%= @books.user.introduction %></p></th>
				</tr>
			</table>
			<% if @books.user.id == current_user.id %>
				<%= link_to "", edit_user_path(@books.user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_18898" %>
			<% end %>

			<div class="create">
				<h2>New book</h2>
				<%= form_for(@book) do |f| %>
					<div class="field row">
						<label>Title</label>
						<%= f.text_field :title, class:"col-xs-12 book_title" %>
					</div>
					<div class="field row">
						<label>Opinion</label>
						<%= f.text_area :body , class:"col-xs-12 book_body"%>
					</div>
					<div class="action row">
					<%= f.submit "Create Book", class:"btn btn-primary col-xs-12" %>
					</div>
				<% end %>
			</div>
		</div>

		<div class="col-xs-9">
			<h2>Book detail</h2>
			<table class="table table-hover table-inverse">
				<tbody>
				<tr>
					<td>
						<%= link_to user_path(@books.user) do %>
							<%= attachment_image_tag @books.user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg" %><br>
							<%= @books.user.name %>
						<% end %>
					</td>
					<td><%= @books.title %></td>
					<td><%= @books.body %></td>
					<% if @books.user == current_user %>
						<td>
							<%= link_to "Edit", edit_book_path %>
						</td>
						<td>
						<%= link_to "Destroy",  book_path(@books.id), method: :delete, data: {confirm: "本当に削除しますか？"} %>
						</td>
					<% else %>
						<td>
						<% if @books.favorited_by?(current_user) %>
						    <%= link_to book_favorites_path(@books.id), method: :delete do %>
						    <i class="fa fa-heart" aria-hidden="true" style="color: #333333;"></i>
						    <%= @books.favorites.count %>
						    <% end %>
						<% else %>
						    <%= link_to book_favorites_path(@books.id), method: :post do %>
						    <i class="far fa-heart" aria-hidden="true" ></i>
						    <%= @books.favorites.count %>
						    <% end %>
						<% end %>
						</td>
			  			<td><p class="comment-list bt style-2">コメント数:<%= @books.post_comments.count %></p></td>
					<% end %>
				</tr>
				</tbody>
			</table>
			<p>コメント一覧</p>
			<table class="">
				<tbody>
				<% @books.post_comments.each do |post_comment| %>
					<tr>
						<td><%= attachment_image_tag post_comment.user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg" %><br >
							<%= post_comment.user.name %>
						</td>
						<td><p class="comment"><%= post_comment.comment %></p></td>
						<td>
							<% if post_comment.user == current_user%>
							<%= link_to "Destroy", book_post_comment_path(post_comment.book, post_comment), method: :delete,class: "btn btn-danger pull-right red" %>
							<% end %>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
			<div class="clearfix">
				<%= form_for [ @books, @comment] do |f| %>
					<div class="field coment">
						<label>コメント</label>
						<%= f.text_area :comment, class: "form-control" %>
					</div>
					<div class="botan">
					<%= f.submit "送信" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
